.register-container {
  padding: 0 !important;
  margin: 0 !important;
  background-image: url("../../assets/register_bg.png");
  height: 100vh;
  background-position: center;
  background-size: cover;
}

.register-form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  text-align: center;
  padding-top: 5rem;
}

.register-container .register-content {
  border-radius: 4px;
}

.register-container .inputs {
  background-color: #161616c2;
  border: 2px solid white;
  color: white;
  border-radius: 3px;
  margin-bottom: 10px;
}

.register-container .inputs:focus {
  background-color: #161616c2;
  border: 2px solid #75DAB4;
}

.register-container .inputs::placeholder {
  color: white;
  opacity: 0.9;
}

.white {
  color: white;
}