.login-container {
  overflow: scroll;
  overflow: hidden !important;
}

.login-container .login-content {
  display: flex;
  align-items: center;
  padding: 2rem;
}

.login-bg {
  background-image: url("../../assets/login_bg.png");
  background-position: center;
  background-size: cover;

}

.login-container .login-content .inputs {
  background-color: black;
  border: 1px solid white;
  color: white;
  border-radius: 3px;
  margin-bottom: 10px;
}

.inputs::placeholder {
  color: white;
  opacity: 0.9;
}

.white {
  color: white;
}