.exams-row {

    color: white;
    padding-top: 85px;
}

.exams-row Col {
    height: 100%;
}

.exams-row .card {
    display: flex;
    flex-direction: column;
    width: 220px;
    padding: 0;
    padding-bottom: 1rem;
    background-color: #000;
    text-decoration: none !important;
    margin: 1.5rem;
}

.exams-row .card strong {
    color: white !important;
}

.exams-row .card a {
    text-decoration: none;
}


.exams-row .product-image {
    width: 100% !important;
    height: 150px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.filter-side {
    display: flex;
    position: sticky;
    justify-content: center;
    height: 100vh;
}

@media (max-width: 767px) {
    .filter-side {
        position: absolute;
        width: 85vw;
        z-index: 100;
        backdrop-filter: blur(20px);
        background-color: #000000e3;
    }

    .card-container {
        display: flex;
        justify-content: center;
    }
}